@model List<DevSkill.Inventory.Domain.Entities.Producta>

@{
    ViewData["Title"] = "Asset Report";
}

<h2>Asset Report</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Asset#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Total Quantity</th>
            <th>Available Quantity</th>
            <th>Stock Price</th>
            <th>Creation Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asset in Model)
        {
            <tr>
                <td>@asset.Id</td>
                <td>@asset.Name</td>
                <td>@asset.Description</td>
                <td>@asset.TotalQuantity</td>
                <td>@asset.AvailableQuantity</td>
                <td>@asset.StockPrice</td>
                <td>@asset.CreatedAt.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>

<div class="mb-3">
    <a asp-controller="Productsa" asp-action="ExportToExcel" class="btn btn-success">Export to Excel</a>
</div>