@model IEnumerable<DevSkill.Inventory.Domain.Entities.Package>

    <h2>Package List</h2>
    <table class="table">
        <thead>
              <tr>
                    <th>Package Number</th>
                    <th>Created At</th>
                    <th>Assets</th>
                    <th>Actions</th>
             </tr>
            
        </thead>
        <tbody>
            @foreach (var package in Model)
            {
            <tr>
                    <td>@package.PackageNumber</td>
                    <td>@package.CreatedAt</td>
                    <td>@package.Productas.Count.ToString()</td>
                    <td>
                         <a href="@Url.Action("Edit", new { id = package.Id })">Edit</a>
                    </td>
            </tr>
            }
        </tbody>
    </table>
<a href="@Url.Action("Create")" class="btn btn-primary">Create Package</a>