@model IEnumerable<DevSkill.Inventory.Domain.Entities.Group>

@{
    ViewData["Title"] = "Group List";
}

<div class="row">
    <div class="col-md-9">
        <div class="p-4">
            <!-- Flexbox row for Group List and Search -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2><b>Group List</b></h2>
                <!-- Search form aligned to the right -->
                <form asp-action="Index" method="get" class="form-inline">
                    <div class="form-group mx-sm-3">
                        <input type="text" name="searchString" class="form-control" placeholder="Search Categories"
                               value="@ViewData["CurrentFilter"]" />
                    </div>
                    <button type="submit" class="btn btn-dark">Search</button>
                </form>
            </div>

            <!-- Categories Table -->
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 1%;">Group ID</th>
                        <th scope="col" style="width: 20%;">Group Name</th>
                        <th scope="col" style="width: 1%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model)
                    {
                        <tr>
                            <td>@group.Id</td>
                            <td>@group.Name</td>
                            <td class="text-nowrap">
                                <a asp-action="Edit" asp-route-id="@group.Id" class="btn btn-dark btn-sm">Edit</a>
                                <a asp-action="Delete" asp-route-id="@group.Id" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Create new category button -->
            <a asp-action="Create" class="btn btn-dark">Add New Group</a>
        </div>
    </div>
</div>